{%extends 'base.html'%}
{% block body_block%}
{%load static%}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <img src="{%static 'images/jb.img'%}" alt="">
        </div>
        <div class="col-4"></div>
    </div>
     <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {%if messages%}
                {%for m in messages%}
                    {{m}}
                {%endfor%}
            {%endif%}
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6 border">
            <h2>ADD TODO</h2>
            <form action="" class="mt-5" method="post">
               {%csrf_token%}
                {{form.as_p}}
                <div class="mb-3">
                    <button type="submit" class="btn btn-info">Add</button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{%endblock%}
