<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {%if messages%}
            {%for m in messages%}
            {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{m}}</strong> ***
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{m}}</strong> You should check in on some of those fields below.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {%endfor%}
            {%endif%}
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6 border">
            <form action="" class="mt-5" method="post">
               {%csrf_token%}
                {{form.as_p}}
                <div class="mb-3">
                    <button type="submit" class="btn btn-info">SignUp</button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>


</body>
<!--                 <div class="mb-3">
                    <input type="text" name="firstname" placeholder="enter firstname" class="form-control">
                </div>
                <div class="mb-3">
                    <input type="text" name="lastname" placeholder="enter lastname" class="form-control">
                </div>
                <div class="mb-3">
                    <input type="emai" name="email" placeholder="enter email" class="form-control">
                </div>
                <div class="mb-3">
                    <input type="text" name="username" placeholder="enter username" class="form-control">
                </div>
                <div class="mb-3">
                    <input type="password" name="password" placeholder="enter password" class="form-control">
                </div>-->
</html>
